/* id #, class . */

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #d5d9e0;
}

h1{
  color: black;
}

h2{
    color: black;
}

h3{
  color: black;
}

p{
  color: black;
}

#nav{cursor:pointer;}

/*search function */
#search{position: fixed;z-index: 100;right: 0px;width: 400px;padding: 10px;margin-right: 7px;display: none;}

#myInput {background-image: url('/css/searchicon.png');background-repeat: no-repeat;font-size: 14px;padding: 6px 10px 6px 10px;border: 1px solid #ddd;margin-right: 0px;width: 300px;}

#myUL {list-style-type: none;padding: 0;margin-top: 45px;}

#myUL li a {border: 1px solid #A9A9A9; margin-top: -1px;background-color: #eee;padding: 10px;text-decoration: none;font-size: 14px;color: black;display: block;width: 100%;margin-left: 10px;}

#myUL li a.header {background-color: #cccccc; /* Add a darker background color for headers */cursor: default; /* Change cursor style */}

#myUL li a:hover:not(.header) {background-color: #e6e6e6;}

.search-box{margin: 8px;}

/*main image*/
.carousel {
  height: 750px;
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 1;
  font-size: 25px;
  color: black;
  margin-bottom: 450px;
}

.carousel .item {
  height: 750px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 750px;
}

/* featurettes */

.featurette-divider{
  margin-top: 40px; 
  margin-bottom: 40px; 
  border: 1px solid darkgrey;
}

#divider1{
  border: 1px solid darkgrey;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  padding-left: 15%;
}

#featurettes{
    padding-left: 5%;
}

.lead{
  color: black;
  padding-left: 15%;
  padding-right: 25%;
}

#featurette-button{
  margin-left: 25%;
}

#mainCourse:hover {
  text-decoration: none;
}

#androidStudio:hover {
  text-decoration: none;
}

/*footer*/
#footer{
  width: 100%;
  padding-bottom: 10px;
  bottom: 0px;
}



/*Main course content pages*/
#container-fluid{
  position: fixed;
  z-index: 1;
  margin-top: 60px;
  width:100%;
}

#text{
  color: black;
  padding-left: 15px;
  float:left;
  width:60%;
}
#img{
  margin-top: 30px;
  padding-left: 5%;
  float:right;
  width:40%;
}

.image{
  margin-bottom: 20px;
}



